{
  "trailingComma": "es5",
  "printWidth": 90,
  "tabWidth": 2,
  "singleQuote": true,
  "endOfLine": "lf",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": ["<BUILTIN_MODULES>", "<THIRD_PARTY_MODULES>", "", "^[./]"],
  "importOrderTypeScriptVersion": "5.0.0"
}
