*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  @media (prefers-reduced-motion) {
    transition: none !important;
    animation: none !important;
  }
}

html {
  height: 100%;
  -webkit-font-smooth: antialiased;
}

body {
  height: 100%;
  display: flex;
}

canvas {
  height: 100%;
  width: 100%;
}

.errors {
  color: red;
  position: absolute;
  top: 0;
  left: 0;
}
