*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  @media (prefers-reduced-motion) {
    transition: none !important;
    animation: none !important;
  }
}

html {
  height: 100%;
  -webkit-font-smooth: antialiased;
}

body {
  height: 100%;
  background-color: hotpink;
  display: flex;
}

canvas {
  background: hotpink;
  height: 100%;
  width: 100%;
}
